@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{

    margin: 0;

}

*{
    box-sizing: border-box;
}
.team-section{
    background-color: #009688 ;
    min-height: 100vh;
    padding: 75px 15px;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap:wrap;
}

.team-section .section-title{
 
    flex-basis:100%;
    max-width: 100%;
    margin-bottom: 70px;
}

.team-section .section-title h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-weight: 700;
}

.team-section .section-title p{
    font: size 16px;
    text-align: center;
    margin: 15px 0 0;
    color: #ffffff;
}

.team-section .team-items{
  
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-section .team-items item{

     
     flex-basis: 25%;
     max-width: 25%;

}

.team-section .team-items .item{
    flex-basis: block;
    width: 100%;

}



.team-section .team-items .item img{
    display: block;
    width: 100%;
}

