@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

nav{
  background: #151515;
  padding: 5px 40px;
}

nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li{
  padding: 15px 0;
  cursor: pointer;
  
}

nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
  

}

nav ul li.items:after{
  position:absolute;
  content: '';
  left:0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear ;

}



nav ul li.items:hover:after{
  opacity: 1;
  bottom: 10px;
}


nav ul li.logo{
  flex:1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;;
}

nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}

nav ul li:hover a{
  color:cyan;

}

nav ul li i{
    font-size: 23px;
}

nav ul li.btn{
  display: none;

}

nav ul li.btn.hide i:before{
  content: '\f00d';
}





@media all and  (max-width:900px) {
  nav{
    padding: 5px 30px;
  }

 nav ul li.items{
   width: 100%;
   display: none;
 }

 nav ul li.items.show{
   display: block;
 }

 nav ul li.btn{
  display: block; 
}
 
 nav ul li.items:hover{
   border-radius: 5px;
   box-shadow: inset 0 0 5px #33ffff;
               inset 0 0 10px #66ffff;

 }
 nav ul li.items:hover:after{
   opacity: 0;
 }
}


/*body*/

.img{
  width:100%;
   height:80%;
} 

.title{
  width: 100%;
  height: 12vh;
  padding-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.container{
  width: 100%;
  height: 80vh;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box{

  width: 350px;
  height: 510px;
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px  10px 12px rgba(0,0,0,0.5);
  display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;

}

.model{
  height: 250px;
  max-height: 80%;
  max-width: 80%;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.details p{
	font-family: calibri;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 20px;
}
/*responsive*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #eefcf4;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #f5e7e7;
}
footer{
  position: bottom;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
  justify-content: space-around;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.boxo h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.boxo .content{
  margin: 20px 0 0 0;
  position: relative;
  color: white;
}
.boxo .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #fff7f7;
}
.boxo .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color:white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #ebe3e3;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}

.place li.items{
  color: white;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .boxo{
    margin: 5px 0;
  }
}
